<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>home</title>
</head>
<body>
<h2>Home</h2>
<ul>
    <li th:if="${session.id == null}"><a th:href="@{/member/join}">회원가입</a></li>
    <li th:if="${session.id == null}"><a th:href="@{/member/login}">로그인</a></li>
    <span th:text="${session.id}"></span>
    <li th:if="${session.id != null}"><a th:href="@{/member/logout}">로그아웃</a></li>
<!--    <li th:if="${session.id != null}"><a th:href="@{/member/mypage}">마이페이지</a></li>-->
    <li ><a th:href="@{/member/mypage}">마이페이지</a></li>
    <li ><a th:href="@{/item/list1}">list1</a></li>
    <li ><a th:href="@{/item/list2}">list2</a></li>
</ul>
</body>
</html>