<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>file/info.html</title>
</head>
<body>
<h1>파일정보</h1>
<table width="400" border="1">
  <tr>
    <td>파일번호</td><td th:text="${dto.filenum}"></td>
  </tr>
  <tr>
    <td>작성자</td><td th:text="${dto.writer}"></td>
  </tr>
  <tr>
    <td>제목</td><td th:text="${dto.title}"></td>
  </tr>
  <tr>
    <td>원본파일명</td><td th:text="${dto.orgfilename}"></td>
  </tr>
  <tr>
    <td>파일크기</td><td th:text="${dto.filesize}"></td>
  </tr>
  <tr>
    <td>이미지</td><td><img th:src="|/images/${dto.savefilename}|"></td>
  </tr>
  <tr>
    <td><a th:href="@{/file/update(filenum=${dto.filenum})}">수정</a></td>
    <td><a th:href="@{/file/download(filenum=${dto.filenum})}">다운로드</a></td>
<!--    c:\ ~ 로 쓰면 서버측에서 찾는 게 아니라 사용자 컴퓨터에서 찾는 경로-->
  </tr>
</table>
<a th:href="@{/}">홈</a>
</body>
</html>